.bg-viajes_chile {

    background-color: transparent;
}


.carousel {
    margin-top: 0px; /* Ajuste para evitar que el contenido del carousel se solape con el navbar */
    margin-bottom: 0px;
}

.carousel-inner {
    /* height: 100vh; Establecer la altura del carousel al 100% del viewport */
    min-height: 25vh;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

body {
    font-family: "Poppins", sans-serif
}

.bg-black {

    width: 100%;
    background-color: #000000;

}

#quienes-somos {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Destacados {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Contacto {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cyan-icon {
    background-color:rgb(37, 223, 223);
    padding: 5px;
    border-radius: 0%;
    /* padding-left: 140px;  */
    text-align: center;   
}



.bg-card {
    background-color: rgb(37, 223, 223);
}

.btn-enviar {
    background-color: rgb(37, 223, 223);
    align-items: start;
}

.bg-mensaje {
    height: 200px;
}

.bg-footer {
    height: 100px;
    background-color: rgb(37, 223, 223); /* Cambia el color de fondo del footer según tus preferencias */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    color: white; /* Cambia el color del texto del footer según tus preferencias */
}


.contenedor {
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: inline-block; */
    float: right;
}

.enlace {
    display: inline-block;
    margin-right: 5px;
}

